version: "3"
services:
  jekyll:
    image: srikanthbpai.github.io:latest
    command: bundle exec jekyll serve --host 0.0.0.0 --watch --livereload --force_polling
    ports:
      - "4000:4000"
      - "35729:35729"
    volumes:
      - .:/srv/jekyll
